<% include ./include/head %>
<link type="text/css" rel="stylesheet" href="static/css/quiz.css" media="screen,projection">
<body>
  <% include ./include/nav %>
  <main>

    <div class="section white">
      <div class="row container flow-text">
        <h2 class="header">Quiz</h2>
        <p>Select which topic you would like to be quizzed on?</p>
      </div>
    </div>

    <div class="row container flow-text">
      <form class="" action="quizEnd" method="post">
        <%
          // Mix the order of correct and incorrect answers
          mixAnswers = function(answers) {
            var rand = 0;
            var allAnswers = [];
            var length = answers.length;
            for (var i = 0; i < length; i++) {
              rand = Math.floor(Math.random()*answers.length);
              allAnswers.push(answers[rand]);
              answers.splice(rand, 1);
            }
            return allAnswers;
          }
        %>
        <%
          var count = 0;
          questions.forEach(function(question) {
          var allAnswers = []
          allAnswers = question.incorrect
          allAnswers.push(question.correct)
          allAnswers = mixAnswers(allAnswers)
        %>
        <div class="row">
          <div class="col s12">
            <h4><%= question.question %></h4>
            <input name="question<%= count %>" type="hidden" value="<%= question.question %>">
            <%
              allAnswers.forEach(function(choice){
            %>
            <p>
              <label>
                <input class="with-gap" name="group<%= count %>" type="radio" value="<%= choice %>"" required/>
                <span class="black-text"><%= choice %></span>
              </label>
            </p>
            <% }); count++ %>
          </div>
        </div>
        <% }); %>
        <input name="count" type="hidden" value="<%= count %>">
        <div class="row">
          <div class="col s6 offset-s3">
            <button class="btn orange darken-2 waves-effect waves-light col s12">Submit</button>
          </div>
        </div>
      </form>
    </div>

  </main>
  <% include ./include/scripts %>
  <% include ./include/footer %>
